<!DOCTYPE html>
<html>
  <head>
    <title>Move Fast and Break Things</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="container">
    <div class="logo">
      <img src="/assets/club-pic.png" alt="Club Logo">
    </div>
      <div class="name">
          <h2>Move Fast and Break Things</h2>
      </div>
        <nav>
          <ul>
            <li><%= link_to "Catalog", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contacts", contacts_path %></li>
            <li><a href="https://github.com/move-fast-and-break-things" target="_blank"><img src="/assets/github.png" alt="GitHub Logo"></a></li>
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </header>

    <%= yield %>

    <footer>
    </footer>

  </body>
</html>
