<!DOCTYPE html>
<html>
  <head>
    <title>Move Fast and Break Things</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="/assets/club-pic.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="/assets/club-pic.png" alt="Club Logo">
        </div>
        <div class="name">
            <h2>Move Fast and Break Things</h2>
        </div>
        <nav>
          <ul>
            <li><%= link_to "Catalog", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contacts_path %></li>
            <li><a href="https://github.com/move-fast-and-break-things" target="_blank"><img src="/assets/github.png" alt="GitHub Logo"></a></li>
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </header>

    <%= yield %>

    <footer>
    </footer>

  </body>
</html>
